.one {
  font-size: 10px + 10px;
}

.two {
  font-size: 30px - 10px;
}

.three {
  font-size: 10px * 2;
}

.four {
  // 나누기를 할 때 사용하는 슬래시(/)는 리스트에서도 사용하기 때문에 혼동을 줄 수 있다
  // 그래서 괄호를 사용하거나, 변수와 함께 사용하거나, 덧셈을 할 때 함께 써서 Scss에게 /를 나누기 연산자임을 알려줘야 한다
  font-size: (20px / 10);
  //font-size: (20px / 10px);	// 2: px도 나누어짐
}

.five {
  font-size: 8px % 3;
}
