.card {
  // 내부에서 사용하는 것을 권장하지 않는다
  @mixin box {
    width: 100px;
    height: 100px;
  }

  @include box;
  background-color: blue;
}

// Error: Undefined mixin.
// .profile {
//   @include box;
//   background-color: red;
// }
