// .card {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .card-item {
//   width: 100px;
//   height: 100px;
//   border-radius: 10%;
// }

// .product {
//   display: flex;
//   justify-content: flex-end;
//   align-items: flex-end;
// }

// .product-item {
//   width: 200px;
//   height: 200px;
//   border-radius: 25%;
// }

@mixin flex($alignment) {
  display: flex;
  justify-content: $alignment;
  align-items: $alignment;
}

@mixin item($length, $radius) {
  width: $length;
  height: $length;
  border-radius: $radius;
}

.card {
  @include flex(center);
}
.card-item {
  @include item(100px, 10%);
}
.product {
  @include flex(flex-end);
}
.product-item {
  @include item(200px, 25%);
}
